urxvt*termName: rxvt-256color

! Disable useless stuff
URxvt.iso14755: false
URxvt.iso14755_52: false

! Font
URxvt.font: xft:terminus:size=20
URxvt.keysym.C-minus: resize-font:smaller
URxvt.keysym.C-plus: resize-font:bigger
URxvt.keysym.C-equal: resize-font:reset
URxvt.keysym.C-question: resize-font:show

! Scroll
URxvt*scrollWithBuffer: true
urxvt*scrollBar: false
URxvt.saveLines: 65535

! Color theme (Zenburn)
URxvt*xftAntialias: true
URxvt*background: #3f3f3f
URxvt*foreground: #dcdccc
URxvt*cursorColor: #aaaaaa
URxvt*colorUL: #366060
URxvt*underlineColor: #dfaf8f
URxvt*color0: #3f3f3f
URxvt*color1: #cc9393
URxvt*color2: #7f9f7f
URxvt*color3: #d0bf8f
URxvt*color4: #6ca0a3
URxvt*color5: #dc8cc3
URxvt*color6: #93e0e3
URxvt*color7: #dcdccc
URxvt*color8: #000000
URxvt*color9: #dca3a3
URxvt*color10: #bfebbf
URxvt*color11: #f0dfaf
URxvt*color12: #8cd0d3
URxvt*color13: #dc8cc3
URxvt*color14: #93e0e3
URxvt*color15: #ffffff

! Open URLs with Firefox
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: firefox
URxvt.matcher.button: 1
