"*":
  "atom-beautify":
    general:
      _analyticsUserId: "7bc7207c-13f3-414b-88c6-af649154ab0f"
    markdown:
      beautify_on_save: true
      default_beautifier: "Remark"
  autosave: {}
  core:
    disabledPackages: [
      "markdown-preview"
      "language-gfm"
    ]
    themes: [
      "zenburn-ui"
      "zenburn"
    ]
  editor:
    fontSize: 22
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "5c644813-4395-dbda-2643-ff46de9a0866"
  "markdown-preview":
    useGitHubStyle: true
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
    pandocRemoveReferences: false
    useGitHubStyle: true
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.tex.latex"
    ]
  "status-bar": {}
  "tidy-markdown":
    ensureFirstHeaderIsH1: false
  welcome:
    showOnStartup: false
